src/main/resources/schema/infinispan-cachestore-hbase-config-7.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:hbase:7.2"
           xmlns:tns="urn:infinispan:config:store:hbase:7.2"
           xmlns:config="urn:infinispan:config:7.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="urn:infinispan:config:7.2"
               schemaLocation="http://www.infinispan.org/schemas/infinispan-config-7.2.xsd" />

    <xs:element name="hbase-store" type="tns:hbase-store"/>

    <xs:complexType name="hbase-store">
        <xs:complexContent>
            <xs:extension base="config:store">
                <xs:sequence>
                </xs:sequence>

                <xs:attribute name="auto-create-table" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Whether to automatically create the HBase table with the appropriate column families (true by default).
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entry-column-family" type="xs:string" default="E">
                    <xs:annotation>
                        <xs:documentation>
                            The column family for entries. Defaults to 'E'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entry-table" type="xs:string" default="ISPNCacheStore">
                    <xs:annotation>
                        <xs:documentation>
                            The HBase table for storing the cache entries. Defaults to 'ISPNCacheStore'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entry-value-field" type="xs:string" default="EV">
                    <xs:annotation>
                        <xs:documentation>
                            The field name containing the entries. Defaults to 'EV'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="expiration-column-family" type="xs:string" default="X">
                    <xs:annotation>
                        <xs:documentation>
                            The column family for expiration metadata. Defaults to 'X'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="expiration-table" type="xs:string" default="ISPNCacheStoreExpiration">
                    <xs:annotation>
                        <xs:documentation>
                            The HBase table for storing the cache expiration metadata. Defaults to 'ISPNCacheStoreExpiration'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="expiration-value-field" type="xs:string" default="XV">
                    <xs:annotation>
                        <xs:documentation>
                            The field name containing the expiration metadata. Defaults to 'XV'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="shared-table" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            Whether the table is shared between multiple caches. Defaults to 'false'
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>